albumentations==2.0.8
cuml==0.6.1.post1
einops==0.8.1
fvcore==0.1.5.post20221221
numpy==1.26.4
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.82
Pillow==10.3.0
setuptools==65.5.0
submitit==1.5.4
timm==0.5.4
torch==2.1.2+cu118
torchmetrics==1.9.0
torchsummary==1.5.1
torchvision==0.16.2+cu118
tqdm==4.67.1
transformers==4.37.2
xformers==0.0.23.post1+cu118
